@import 'theming.scss';

@mixin education($theme) {
    .education-wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        color: theme-color($theme, "textColor");
      }
}
