@import 'theming.scss';

@mixin experience($theme) {
    .experience-wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: theme-color($theme, "textColor");
      }
}
