@import "theming.scss";

@mixin experience($theme) {
  .experience-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: theme-color($theme, "textColor");
  }

  .experience {
    display: flex;
    height: 100%;
    padding-top: 50px;
  }
}
