@import "theming.scss";

@mixin footer($theme) {
  .footer-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
  }
  .footer-link-wrapper {
    display: flex;
    align-items: center;
    background-color: theme-color($theme, "backgroundColorFooter");
    padding: 20px 0px;
    border-radius: 50px;
    &:hover {
      background-color: theme-color($theme, "backgroundColorFooterHover");
    }
    transition: background-color 0.5s linear;
  }

  .footer-link {
    padding: 0px 50px;
  }

  .footer-github-icon {
    width: 32px;
    height: 32px;
    fill: theme-color($theme, "gihubFillColor");
    transition: filter 0.2s linear;
    &:hover {
      cursor: pointer;
      -webkit-filter: drop-shadow(3px 3px 2px #4646462f);
      filter: drop-shadow(3px 3px 2px #4646462f);
    }
  }

  .footer-linkedin-icon {
    width: 32px;
    height: 32px;
    transition: filter 0.2s linear;
    background: theme-color($theme, "linkedinFillColor");
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      -webkit-filter: drop-shadow(3px 3px 2px #4646462f);
      filter: drop-shadow(3px 3px 2px #4646462f);
    }
  }

  .footer-email-icon {
    width: 32px;
    height: 32px;
    fill: theme-color($theme, "emailFillColor");
    transition: filter 0.2s linear;
    &:hover {
      cursor: pointer;
      -webkit-filter: drop-shadow(3px 3px 2px #4646462f);
      filter: drop-shadow(3px 3px 2px #4646462f);
    }
  }

  @media only screen and (max-width: 900px) {
    .footer-link {
      padding: 0px 30px;
    }
  }

  @media only screen and (max-width: 600px) {
    .footer-link {
      padding: 0px 20px;
    }
  }

  @media only screen and (max-width: 450px) {
    .footer-link {
      padding: 0px 10px;
    }
    .footer-link-wrapper {
      padding: 10px 0px;
    }
    .footer-github-icon {
      width: 25px;
      height: 25px;
    }
    .footer-linkedin-icon {
      width: 25px;
      height: 25px;
    }
    .footer-email-icon {
      width: 25px;
      height: 25px;
    }
  }
}
