@import "theming.scss";

@mixin home($theme) {
  .home-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    color: theme-color($theme, "textColor");
  }
  .home-text-description {
    max-width: 500px;
  }
}
