@import "theming.scss";

@mixin title($theme) {
  .main-header-text {
    font-family: "Press Start 2P", cursive;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.9);
    font-size: 32px;
    padding-top: 50px;
    color: theme-color($theme, "titleComponentColor");
    text-align: center;
  }
}
